body {
	background: url("../images/back2.jpg") no-repeat scroll center;
} 


#logo{
	
}

.entry {
	float: relative;
	position:relative;
	padding:15px;
	margin:3em 0 3em;
	margin-left: 30em;
	margin-right: 30em;
	color:white;
	background:#210c2e; /* default background for browsers without gradient support */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.entry:after{
	content: "";
	display: block; /* reduce the damage in FF3.0 */
	position: absolute;
	bottom: -15px;
	left: 50px;
	width: 0;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: #210c2e transparent;
}

/*.bloque .slider #nivoSlider{
	float: left;
	position:relative;
	bottom:0;
	left:0;
}*/

.bloque2 {
	display: inline;
}
.nivoSlider{
	float: left;
}
.nivoSlider .nivo-nextNav{
	color: transparent;
}

.nivoSlider .nivo-prevNav{
	color: transparent;
}

.video .youtube{
 border-radius: 0 10% 0 10%;	
 margin-left: 26%;
 margin-top: -52px;
}

.descarga .titulo_libro{
	margin-top: 60px;	
	margin-left: 20px;

}

.imagen_libro{
	margin-left: 35%;	
}


#descarga_items{
	
	list-style-type: none; 
	padding: 150px 5px 5px 0;

}
#descarga_items li a.joyland { 
	margin-top: 60%;
	background: url('../images/joyland.jpg') no-repeat; padding: 170px 0px 125px 160px;
	margin-left: 45%; 
}

#descarga_items li a.doctor_sueno{ 
	margin-top: 50%;
	background: url('../images/doctor_sueno.jpg') no-repeat; padding: 0px 0px 125px 160px; 
	margin-left: 45%; 
}
/*http://css-tricks.com/almanac/properties/b/border-radius/*/
/*http://nicolasgallagher.com/pure-css-speech-bubbles/demo/*/